// breakepoints
$DesktopWidth: 1280px;
$MidlleWidth: 1024px;
$TableWidth: 768px;
$PhoneWidth: 320px;

// colors
$white: #ffffff;
$black: #000000;
$blueLight: #2962ff;
$blueMiddle: #0d47a1;
$greyDark: #212121;
$greyMiddle: #b2bec4;
$greyBlue: #485a63;
// fonts
